@charset "utf-8";
/* CSS Document */

.fixed{
	position:fixed;
	top:0px;
	width:100%;
	margin:0 auto;
	left:0;

}
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #1E4297;
	background-repeat:repeat-x;
}
*
{
	margin: 0 auto 0 auto;
	text-align:left;}
.clear{
	clear:both;
}
a:visited{
	color:#C60;
}

a{
	text-decoration:none;
	color:#000;
}
.wrapper{
	width:960px;
	height:auto;
	margin:auto;
	border:1px solid #B4B4B4;
}
.header{
	width:100%;
	
}
/*Ket thuc header*/
.menu{
	width:100%;
	height:30px;


	background:#990;
}
.menu ul{
	list-style:none;
	width:960px;
	height:30px;
	margin:auto;
}
.menu li{
	width:80px;
	height:30px;
	float:left;
	line-height:30px;
	margin-right:10px;
	text-align:center;
	margin-left:5px;
}
.menu li a{
	display:block;
	color:#fff;
}
.menu li:hover{
	background:#9C0;
}
/*Ket thuc menu*/
.content{
	width:100%;
	height:auto;
	margin-top:40px;

}
.content_left{
	width:70%;
	height:auto;
	float:left;

}
.row{
	padding-left:10px;
	padding-right:300px;
}
.box1{
	width:60%;
	height:auto;
	float:left;
}
.box1 img{
	margin:5px 0 0px 15px;
}
.tieude{
	color:#000;
	margin:5px 0 0 20px;
	font-size:18px;
	font-weight:bold;
}
.tomtat{
	color:#000;
	margin:5px 0 0 20px;
	
}
.box2{
	width:39%;
	height:300px;
	float:right;
	
}
.widthloaitin{
	width:100%;
	height:auto;

}

.margin img{
	padding-bottom:10px;

	
}

.box2 li{
	width:100%;
	height:30px;
	margin-top:10px;
}
.box2 a:hover{
	text-decoration:underline;
}
.boxtin{
	width:50%;
	height:20px;
	background:#1E4297;
	margin-bottom:5px;
	margin-left:15px;
	

}
.boxtin p{
	line-height:20px;
	color:#fff;

}
.content_right{
	width:29%;
	height:auto;
	float:right;
	border:1px solid #999;

	
}
.content_right img{
	margin-bottom:5px;
}

/*Ket thuc content*/
.footer{
	width:100%;
	height:80px;
	text-align:center;
	background:#1E4297;;
}


#container
{
	display: block;
	height:auto;
	position: relative;
	width: 940px;
}

#mainpic h1
{
	position:absolute;
	text-align:right;

	font-size:30px;
	color:#FFF;
	left:550px;
	top:100px;
}


#mainpic h2
{
	position:absolute;
	text-align:right;
	color:#E1E7F7;
	left:550px;
	top:130px;
}

#mainpic
{
	background-image:url(../images/main.jpg);
	background-repeat:no-repeat;
	width:900px;
	height:402px;
}
#menu
{
	background-image:url(../images/menu.png);
	background-repeat:no-repeat;
	width:940px;
	height:69px;
	float:left;
	clear:both;
}
#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;
	display: inline;

}

#menu a {
	float: left;
	width: 120px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#menu a:hover{
	color:#BAD1F3;
	background: url(images/menuhov.jpg) no-repeat;
}
#content
{
	width:880px;
	height:auto;
	background-color:#FFF;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}
/*Ket thuc footer*/